* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    background-color: rgb(111, 143, 175);
}

header h1{
    padding: 5px 30px;
}

header nav {
    margin-right: 20px;
}

header a {
    margin: 2px 5px;
    text-decoration: none;
    color: beige;
    border-bottom: 3px solid beige;
}

.banner {
    display: grid;
    min-height: 30vh;
    padding: 10px;
}

.banner div{
    margin: 10px;
}

img {
    height: 100%;
    width: 100%;
    border: solid;
    border-radius: 180px;
    border-color: rgb(111, 143, 175);
}



.banner div:nth-child(2){
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    border:solid;
    border-color: rgb(111, 143, 175);
    background-color: white;
}

.work{
    display: grid;
    padding: 10px;
}

.work div{
    
    padding: 10px;
    margin: 10px;
    border: dashed;
    border-color: rgb(111, 143, 175);
    border-radius: 10px;
    box-shadow: 10px 10px 5px #aaaaaa;
}

.contact {
    display: grid;
    padding: 10px;
    
}

.contact div{
    background-color: rgb(111, 143, 175);
    height: 5vh;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

.contact div:nth-child(1) {
    color: white;
    font-size: 30px;
}

  /* desktop - header changes color */
  @media screen and (min-width: 768px) {
    .banner{
      grid-template-columns: 20% 80%;
    }
    .work {
        grid-template-columns: auto auto;
    }
    .contact {
        grid-template-columns: auto auto auto auto auto auto;
    }
  }
  
  /* tablet - navbar changes color */
  @media screen and (max-width: 768px) {
    .banner{
        grid-template-columns: 20% 80%;
      }
    .work {
        grid-template-columns: auto auto;
    }
    .contact {
        grid-template-columns: auto auto auto auto auto auto;
    }
  }
  
  /* Small smartphones - image placeholders change color */
  @media screen and (max-width: 576px) {
    .banner{
        grid-template-columns: auto;
    }
    .work {
        grid-template-columns: auto;
    }
    .contact {
        grid-template-columns: auto;
    }
  }