* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: blue;
}
header h1{
    padding: 5px 30px;
    background-color: greenyellow;
}
header nav {
    margin-right: 20px;
}
header a {
    margin: 2px 5px;
    text-decoration: none;
    color: beige;
    border-bottom: 3px solid beige;
}
.banner {
    min-height: 30vh;
    background-color: gray;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
    padding: 20px;
}